/*------------------------------------*\
   Body
\*------------------------------------*/

body {
    @include f-reg();
    background-color: var(--c-bg-dark-m-g);
    color: var(--c-font-light);
    overflow: hidden;

    &.stop-scrolling {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
