/*------------------------------------*\
   Inputs
\*------------------------------------*/

input,
textarea {
    position: relative;
    display: block;
    border: none;
    font-size: inherit;
    width: 100%;
    appearance: none;

    &:focus {
        outline: none;
    }
}

/* Disable autofill highlighting */
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0 0 var(--c-bg-dark-m-g) inset !important;
    background-clip: content-box !important;
}
