/*------------------------------------*\
   Buttons
\*------------------------------------*/

.btn-p-l,
.btn-p-d,
.btn-s {
    position: relative;
    font-size: 1.8rem;
    border-radius: 4rem;
    padding: 1.2rem 3rem;
    transition: all 0.3s ease-in-out;
}

.btn-p-l {
    color: var(--f-c-light);
    border: 2px solid var(--c-lightest);

    &:hover {
        background: var(--c-lightest);
        color: var(--c-font-s-s-g);
    }
}

.btn-p-d {
    color: var(--c-font-s-s-g);
    border: 2px solid var(--c-bg-dark-s-s-g);

    &:hover {
        background: var(--c-bg-dark-s-s-g);
        color: var(--f-c-light);
    }
}

.btn-s {
    color: var(--c-font-s-s-g);
    background: var(--c-bg-dark-lightest);

    &:hover {
        background: var(--c-bg-dark-r-b);
        color: var(--c-font-s-s-g);
    }
}

//widths
.btn--w-none {
    width: fit-content;
}

.btn--w-sm {
    //...
}

.btn--w-md {
    min-width: 15.5rem;
}

.btn--w-lg {
    min-width: 18.8rem;
}

.btn--w-xl {
    min-width: 24rem;
}
