/*------------------------------------*\
    Wrappers
\*------------------------------------*/

.site-wrapper {
    max-width: 111rem;
    margin: 0 auto;
}

.content-wrapper {
    position: relative;
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--col-pd-wrapper);

    @include bp(small) {
        padding: var(--col-pd-wrapper-small);
    }
}

.content-inner {
    padding: var(--col-pd-inner);
}
